@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  font-family: "Lato", sans-serif;
}

.container {
  gap: 8px;
}

.total-balance {
  display: flex;
  flex-direction: column;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}
h2 {
  text-align: center;
  margin: 0 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}
.balance-breakup {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.vertical-line {
  border-left: 1px solid black;
}
.balance {
  padding: 0 30px;
}
.history {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}
.plus {
  border-right: 4px solid green;
}
.minus {
  border-right: 4px solid red;
}

.form-control {
  display: flex;
  flex-direction: column;
}

input {
  margin: 4px 0;
  padding: 8px;
  border: 1px solid #dedede;
}

.btn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #f1f1f1;
  background-color: blue;
  padding: 8px;
  border: 0;
}

.btn:disabled {
  background-color: grey;
}
